<div class="Header">
    <div>
      <p class="Service-header">Service</p>
      <h1 class="Service-name">Task Manager App</h1>
    </div>
    <div>
      <a class="link" href="/login">
        Login
      </a>
    </div>
  </div>
  <div class="Service-Content">
    <div class="Service-Desc">
      <div class="Service-Desc-content">
        <h1 class="Service-name-desc">
          Monitoring of Progress and Development Project
        </h1>
        <div class="Service-Desc-Data">
          <div>
            <p class="Service-Data-header">Hours</p>
            <h1 class="Service-name">+80</h1>
          </div>

          <div>
            <p class="Service-Data-header">Screens</p>
            <h1 class="Service-name">+40</h1>
          </div>

          <div>
            <p class="Service-Data-header">Developer</p>
            <h1 class="Service-name">1</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="Service-Desc-Im">
      <img src="./images/Capture.png"></img>
    </div>
  </div>
