<div class="Header">
  <div>
    <p class="Service-header">Service</p>
    <h1 class="Service-name">Task Manager App</h1>
  </div>
</div>

<form action="/Signup" method="post">
  <div class="login-container">
    <h2>Signup Form</h2>
    <div class="login-content">
      <div class="login-details">
        <div class="login-input">
          <label for="email">Name</label>
          <input type="text" name="name" />
        </div>
        <div class="login-input">
          <label for="email">Email Address</label>
          <input type="email" name="email" pattern=".+@gmail\.com" />
        </div>
        <div class="login-input">
          <label for="password">Password</label>
          <input type="password" name="password" />
        </div>
      </div>
      <div class="login-button">
        <button type="submit">Signup</button>
      </div>
    </div>
  </div>
</form>
